[project]
name = "daft_launcher"
version = "0.3.1"
requires-python = ">=3.12"
dependencies = ["boto3>=1.35.17", "click>=8.1.7", "ray[default]>=2.36.0"]
description = "A simple launcher for spinning up and managing Ray clusters for Daft."
readme = "README.md"

[project.license]
file = "LICENSE"

[project.scripts]
daft = "daft_launcher.__init__:main"

[build-system]
requires = ["setuptools>=60", "wheel"]
build-backend = "setuptools.build_meta"

[tool.setuptool]
packages = ["daft_launcher"]
include_package_data = true

[tool.pyright]
venvPath = '.'
venv = '.venv'

[tool.ruff]
include = ["daft_launcher/**/*.py"]
